table.blueTable {
  border: 0px solid #55acf3;
  background-color: #eeeeee;
  width: 100%;
  text-align: start;
  border-collapse: collapse;
}
table.blueTable td,
table.blueTable th {
  border: 0px solid #aaaaaa;
  padding: 8px 1px;
}
table.blueTable tbody td {
  font-size: 12px;
}
table.blueTable tr:nth-child(even) {
  background: #d0e4f5;
}
table.blueTable thead {
  background: #55acf3;
  background: -moz-linear-gradient(top, #7fc1f6 0%, #66b4f4 66%, #55acf3 100%);
  background: -webkit-linear-gradient(
    top,
    #7fc1f6 0%,
    #66b4f4 66%,
    #55acf3 100%
  );
  background: linear-gradient(to bottom, #7fc1f6 0%, #66b4f4 66%, #55acf3 100%);
}
table.blueTable thead th {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  border-left: 2px solid #d0e4f5;
}
table.blueTable thead th:first-child {
  border-left: none;
  max-width: 20px;
}

table.blueTable tfoot td {
  font-size: 8px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}
